@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e7e7e7;
}

.introducao {
  background-color: gray;
}

.introducao h1 {
  font-size: 2rem;
  padding: 20px;
  color: white;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.174);
  text-align: center;
}

.grid-introducao {
  display: flex;
  padding: 20px;
  gap: 20px;
  list-style: none;
}

nav a {
  font-weight: bold;
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.174);
}

main {
  background-color: lightgray;
  padding: 20px;
  margin: auto;
  min-width: 300px;
  max-width: 1000px;
}

section h2 {
  text-align: center;
}

section h2, section p {
  padding: 20px;
}